/* .pagination /deep/ .ngx-pagination .current {
  background: red;
}

.pagination /deep/ .ngx-pagination li {
  border: 1px solid #cccc;
  margin-right: 0px;
}

.pagination /deep/ .ngx-pagination a::after {
  display: none;
}

.pagination /deep/ .ngx-pagination li::before {
  display: none;
}

.pagination /deep/ .ngx-pagination li::after {
  display: none;
}

.pagination /deep/ .ngx-pagination a::before {
  display: none;
} */

:host /deep/ .ngx-pagination {
  padding-left: 0px;
}

:host /deep/.ngx-pagination .current,
.btn-info {
  background: #17a2b8 !important;
  border: transparent;
  border-radius: 20px;
}

:host /deep/.ngx-pagination .current:hover {
  background: #17a2b8 !important;
  border-radius: 20px;
  border: transparent;
}
